<div class="content-form">
  <!-- logo clickable -->
  <%= link_to root_path, class: "form-logo" do %>
    <%= image_tag "blue-logo.png", class: "logo" %>
  <% end %>
  <!-- formulaire -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="form">

        <% if client? %>
          <h2>Bienvenue</h2>
          <h5 style="margin-bottom: 10px">Accélérez vos projets avec</h5>
          <h5>des freelances passionnés</h5>
        <% else %>
          <h2>Welcome</h2>
          <h5>Tu es sur le point de rejoindre la communté Bootcamper</h5>
        <% end %>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, placeholder: "Email", required: true, autofocus: true, label: false %>
            <%= f.input :password, placeholder: "Mot de passe", required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), label: false %>
            <%= f.input :password_confirmation, placeholder: "Confirmation du mot de passe", required: true, label: false %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Commencer", class: "btn-publish" %>
          </div>
        <% end %>

        <!-- <%= render "devise/shared/links" %> -->

      </div>
    </div>
  </div>
</div>
  <!-- fin du formulaire -->
  <div class="content-form-footer">
  <% if client? %>
    Déjà inscrit ? <%= link_to "Connectez-vous", new_user_session_path(as: :client) %>
  <% else %>
    Déjà inscrit ? <%= link_to "Connectez-vous", new_user_session_path(as: :bootcamper) %>
  <% end %>
  </div>
</div>
