<%= simple_form_for @project, url: project_ongoings_path(@project), method: :post do |p| %>
  <%= p.input :title, label: "Titre", placeholder: @project.request_title %>
  <%= p.input :description, label: "Description", placeholder: @project.request_description %>
  <%= p.input :category, label: "Catégorie" %>
  <%= p.input :price, label: "Prix", placeholder: @project.budget %>
  Date de livraison demandée: <%= @project.request_delivery_at.strftime("%d %m %Y") %>
  <%= p.input :agreed_delivery_at, label: "Date de livraison acceptée", as: :string, input_html: { data: { provide: 'datepicker' } } %>

  <div id="missions">
    <%= p.simple_fields_for :missions do |mission| %>
      <%= render "mission_fields", f: mission %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Ajouter 1 mission', p, :missions %>
    </div>
  </div>

  <%= p.submit %>
<% end %>
