<div class="wrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.6) 50%), url(https://images.unsplash.com/photo-1501163268664-3fdf329d019f?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);">
<div class="navbar-home">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-home-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-home-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%#= link_to "Mon compte", missions_path, class: "navbar-home-item navbar-home-link", "data-toggle" => "dropdown" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-home-item">
        <div class="dropdown">
          <%= image_tag "", class: "fa fa-bars", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-home-dropdown-menu">
            <li>
              <%= link_to missions_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon compte") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Inscription"), new_user_registration_path, class: "navbar-home-item navbar-home-link" %>
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-home-item navbar-home-link" %>
      <%= link_to "Publier une mission", "#", class: "navbar-home-item btn-publish" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-home-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-home-dropdown-menu">
        <li>
          <%= link_to missions_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Mon compte") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
