<h1 style="text-align: center">Mes missions</h1>
<h3>En attente</h3>
<% @pending_missions.each do |mission| %>
  <div class="mission-followup">
    <img src="https://source.unsplash.com/random/40x40" class="avatar sm">
    <div class="items company"><%= mission.project.company.name %></div>
    <div class="items title"><%= mission.title %></div>
    <div class="skill_list items">
      <% mission.skills.each do |skill| %>
        <span style="color: <%= skill.color %>;"><%= skill.name %></span>
      <% end %>
    </div>
    <div class="items">A livrer le <%= mission.project.agreed_delivery_at.strftime("%d %m %Y") %></div>
  </div>
<% end %>
<h3>En cours</h3>
<% @ongoing_missions.each do |mission| %>
  <div class="mission-followup">
    <img src="https://source.unsplash.com/random/40x40" class="avatar sm">
    <div class="items company"><%= mission.project.company.name %></div>
    <div class="items title"><%= mission.title %></div>
    <div class="skill_list items">
      <% mission.skills.each do |skill| %>
        <span style="color: <%= skill.color %>;"><%= skill.name %></span>
      <% end %>
    </div>
    <div class="items">A livrer le <%= mission.project.agreed_delivery_at.strftime("%d %m %Y") %></div>
  </div>
<% end %>
<h3>Livré</h3>
<% @finished_missions.each do |mission| %>
  <div class="mission-followup">
    <img src="https://source.unsplash.com/random/40x40" class="avatar sm">
    <div class="items company"><%= mission.project.company.name %></div>
    <div class="items title"><%= mission.title %></div>
    <div class="skill_list items">
      <% mission.skills.each do |skill| %>
        <span style="color: <%= skill.color %>;"><%= skill.name %></span>
      <% end %>
    </div>
    <div class="items">Livré le <%= mission.project.delivered_at.strftime("%d %m %Y") %></div>
  </div>
<% end %>
