<div class="container">
  <h1 class="projects-title">Demandes de projet</h1>
  <% @requests.each do |request| %>

  <div class="card-leader-request">
    <div class="lr-company-infos">
      <% if request.company.photo? %>
        <%= cl_image_tag request.company.photo.path, width: 80, height: 80, crop: :fill, class: "company-avatar" %>
      <% else %>
        <% avatar_url = "http://placehold.it/80x80" %>
        <%= image_tag avatar_url, class: "company-avatar" %>
      <% end %>
      <div><strong><%= request.company.name %></strong></div>
      <div><%= request.company.user.first_name %> <%= request.company.user.last_name %></div>
      <div><%= request.company.user.phone_number %></div>
      <div><%= request.company.user.email %></div>
    </div>
    <div class="lr-project-infos">
      <div><strong>Titre : </strong><%= request.request_title %></div>
      <div><strong>Description : </strong><%= request.request_description %></div>
      <div><strong>Date de livraison souhaitée : </strong><%= request.request_delivery_at.strftime("%d/%m/%Y") %></div>
    </div>
    <div class="lr-project-price">
      <div><strong>Budget</strong></div>
      <div><%= number_with_delimiter( (request.budget), delimiter: " ") %> €</div>
      <%= button_to "Accepter", request_accepteds_path(request.id), class: "btn btn-accept-request" %>
    </div>
  </div>
  <% end %>
</div>
