<div class="wrapper">
  <h3>Demandes de projet</h3>
  <% @requests.each do |request| %>
    <div class="mission-followup">
      <% if request.company.photo? %>
        <%= cl_image_tag request.company.photo.path, width: 40, height: 40, crop: :fill, class: "avatar sm" %>
      <% else %>
        <% avatar_url = "http://placehold.it/40x40" %>
        <%= image_tag avatar_url, class: "avatar sm" %>
      <% end %>
      <div class="items company"><%= request.company.name %></div>
      <div class="items request_title"><%= request.request_title %></div>
      <div class="items description"><%= request.request_description %></div>
      <div class="items budget"><%= request.budget %>€</div>
      <div class="items">A livrer le <%= request.request_delivery_at.strftime("%d %m %Y") %></div>
      <%= button_to "Accepter", request_accepteds_path(request.id), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
