<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-project">
        <h1>Publiez votre projet</h1>
        <%= simple_form_for @project do |p| %>
          <% if @company.persisted? %>
            <h2 class="company-title text-center"><%= @company.name.upcase %></h2>
          <% else %>
            <%= p.simple_fields_for @company do |c| %>
              <h2>Informations concernant votre entreprise :</h2>
              <%= c.input :name, label: false, placeholder: "Nom de votre entreprise" %>
              <%= c.input :siret, label: false, placeholder: "SIRET" %>
              <%= c.input :vat_number, label: false, placeholder: "Numéro de TVA" %>
              <%= c.input :address, label: false, placeholder: "Adresse complète" %>
              <%= c.input :activity_code, label: false, placeholder: "Nom de votre entreprise" %>
              <%= c.input :website, label: false, placeholder: "Site internet de votre entreprise" %>
            <% end  %>
          <% end  %>
          <h2>Votre projet :</h2>
          <%= p.input :request_title, placeholder: "Création d'un site web", label: false, placeholder: "Titre de votre projet" %>
          <%= p.input :request_description, placeholder: "Site responsive...", label: false, placeholder: "Description de votre projet"%>

          <!-- Fake checkbox for category -->
          <div class="form-group boolean optional project_landing_page">
            <div class="category-choices">
              <input value="0" type="hidden" name="project[landing_page]">

              <div class="category-choice">
                <label class="boolean optional" for="project_landing_page">
                  <input class="hidden" type="checkbox" value="1" checked="checked" name="project[landing_page]" id="project_landing_page">
                  Landing page
                  <i class="fa fa-check"></i>
                </label>
              </div>

              <div class="category-choice">
                <label class="boolean optional" for="project_landing_page">
                  <input class="hidden" type="checkbox" value="1" checked="checked" name="project[landing_page]" id="project_landing_page">
                  Site vitrine
                  <i class="fa fa-check"></i>
                </label>
              </div>

              <div class="category-choice">
                <label class="boolean optional" for="project_landing_page">
                  <input class="hidden" type="checkbox" value="1" checked="checked" name="project[landing_page]" id="project_landing_page">
                  Application
                  <i class="fa fa-check"></i>
                </label>
              </div>
            </div>
          </div>
          <!-- Fin des fake checkbox -->

          <%= p.input :budget, label: false, placeholder: "Votre budget" %>
          <h3>Date de livraison souhaitée :</h3>
          <%= p.input :request_delivery_at, label: false, as: :string, input_html: { data: { provide: 'datepicker' } } %>
          <%= p.submit "Publier le projet", class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
