
<div class="cards-index">
  <!-- contenu de la card -->
    <div class="card-mission">
      <%= link_to mission_path(mission), data: {toggle: "modal", target: "#mission-modal"}, class: 'card-toggler' do %>
      <div class="card-mission-title background-blue">
        <p><%= mission.title %></p>
      </div>
      <div class="card-mission-company-infos">
        <% if mission.project.company.photo? %>
          <%= cl_image_tag mission.project.company.photo.path, width: 80, height: 80, crop: :fill %>
        <% else %>
          <% avatar_url = "http://placehold.it/80x80" %>
          <%= image_tag avatar_url %>
        <% end %>
        <div class="card-mission-price-name">
          <div class="card-mission-price blue">
            <%= number_with_delimiter( mission.price, delimiter: " ") %> €
          </div>
          <div class="card-mission-company-name">
            <strong><%= mission.project.company.name %></strong>
          </div>
         </div>
      </div>
      <div class="card-mission-content">
        <div class="card-mission-date">
          A livrer le <%= mission.project.agreed_delivery_at.strftime("%d/%m/%Y")  %>
        </div>
        <div class="card-mission-description">
          <%= mission.description.first(50) %>...
        </div>
        <div class="card-mission-skills">
          <% mission.skills.each do |skill| %>
            <div class="card-mission-skill" style="color: <%= skill.color %>">
              <%= skill.name.upcase %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  <!-- fin du contenu de la card -->
</div>
