<%= link_to company_project_path(project), data: {toggle: "modal", target: "#project-modal"}, class: 'card-toggler' do %>
  <div class="card-company-project">

    <div class="company-project-status">
      <div class="backg-status" style="background-color: <%= project.status[:color] %>">
        <div class="cp-status"><%= project.status[:label] %></div>
      </div>
    </div>

    <div class="company-project-infos">

      <div class="leader-avatar">
        <% if project.user.photo? %>
          <%= cl_image_tag project.user.photo.path, class: "leader-avatar", width: 50, height: 50, crop: :fill %>
        <% else %>
          <% avatar_url = "http://placehold.it/50x50" %>
          <%= image_tag avatar_url, class: "leader-avatar"%>
        <% end %>
      </div>

      <div class="cp-title"><strong>Projet : </strong><%= project.request_title %></div>

      <div class="cp-btn-date">
        <div class="cp-date"><strong>Accepté le </strong><%= project.accepted_at.strftime("%d/%m/%Y") %></div>
      </div>
    </div>
  </div>
<% end %>
