<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Facebook Open Graph metas -->
    <meta property="og:url"                content="http://www.bootcampers.co" />
    <meta property="og:title"              content="Trouve une mission, code sans te soucier du reste" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website"
    <!-- Abides by FB recommendation -->
    <meta property="og:description"        content="Grâce à Bootcampers développe des projets en freelance sans t'encombrer des tâches administratives et de la négociation client." />
    <!-- image forced to 1200x630 in order to abide by FB rules  -->
    <meta property="og:image"              content="https://images.unsplash.com/photo-1503945438517-f65904a52ce6?1200*630&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" />
    <title>Bootcampers</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="application">
    <% unless devise_controller? or current_page?(new_project_path) %>
      <%= render "shared/sidebar" %>
    <% end %>
    <div class="content">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :after_js %>
    <%= cloudinary_js_config %>
  </body>
</html>
